* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  --background1: #121113;
  --background2: #1b1a1b;
  --background3: #202020;

  --accent1: #451475;
  --accent2: #39155e;
  --accent3: #53396d;
  --accent4: #443058;
  --accent5: #c5a5e6;
  --accent6: #8769a3;

  --invalid-text: #fd7951;
  --invalid1: #403d44;
  --invalid2: #37353a;
  --invalid3: #696270;
  --invalid4: #514d55;
  --invalid5: #d3cdd8;

  --playing1: #6a08a3;
  --playing2: #d1a5e6;

  --playing-gradient: linear-gradient(110deg, var(--playing1), var(--playing1) 45%, var(--playing2) 47%, var(--playing2) 53%, var(--playing1) 55%)
}

body {
  background-color: var(--background1);
  font-family: Arial;
  height: 100vh;
}

/* Labels */

label {
  white-space: nowrap;
  color: var(--accent5);
}

/* Buttons */

button {
  background-color: var(--accent2);
  color: var(--accent5);
  fill: var(--accent5);
  border: none;
  padding: 8px 15px;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  white-space: nowrap;
  font-size: 16px;
}

button:focus,
button:hover {
  background-color: var(--accent1);
  outline: none !important;
}

button > svg {
  width: 16px;
  height: 16px;
  margin: 1.5px 4px 1.5px 0;
}

/* Select inputs */
select {
  height: 34px;
  padding: 4px;
  color: var(--accent5);
  background: var(--accent4);
  border: none;
  border-radius: 4px;
  font-size: 16px;
}

/* Text inputs */

input[type=text] {
  width: 100%;
  padding: 8px;
  color: var(--accent5);
  background-color: var(--accent4);
  border: none;
  border-radius: 4px;
  font-size: 16px;
}

input[type=text]:focus {
  background-color: var(--accent3);
}

input[type=text]::placeholder {
  color: var(--accent6);
}

/* Number inputs */
input[type=number] {
  width: 60px;
  padding: 4px;
  color: var(--accent5);
  background: var(--accent4);
  border: none;
  border-radius: 4px;
  font-size: 16px;
}

/* Range inputs */

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: var(--accent5);
  cursor: pointer;
  margin-top: -5px;
}

input[type=range]::-moz-range-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: var(--accent5);
  cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: var(--accent4);
  border-radius: 2px;
  border: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: var(--accent3);
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: var(--accent4);
  border-radius: 2px;
  border: none;
}

input[type=range]:focus::-moz-range-track {
  background: var(--accent3);
}

#main-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  box-shadow: 0 0 8px var(--background1);
  background-color: var(--background1);
  position: fixed;
  width: 100%;
}

#main-controls > * {
  margin: 0 4px;
}

#sound-configs {
  padding: 12px;
  padding-top: 64px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;
}

.sound-config {
  display: grid;
  grid-template-columns: min-content 2fr min-content min-content min-content 1fr min-content 1fr min-content min-content;
  align-items: center;
  gap: 12px 8px;
  padding: 10px;
  background-color: var(--background2);
  border-radius: 5px;
}

.sound-config.playing {
  background-color: var(--background3);
}

.sound-config.playing .play {
  background-image: var(--playing-gradient);
  background-size: 300%;
  background-position: right;
  animation: playing 1s infinite;
}

.sound-config .copy[data-command] {
  position: relative;
  background-color: var(--playing1);
}

.sound-config .copy[data-command]::after {
  content: attr(data-command);
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 6px;
  padding: 8px 12px;
  background-color: var(--background3);
  border-radius: 5px;
  box-shadow: 0 2px 4px var(--background1);
  cursor: initial;
}

@keyframes playing {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.sound-config.loading .play,
.sound-config.invalid *:not(.remove) {
  --accent1: var(--invalid1);
  --accent2: var(--invalid2);
  --accent3: var(--invalid3);
  --accent4: var(--invalid4);
  --accent5: var(--invalid5);
}

.sound-config.loading .play,
.sound-config.invalid button:not(.remove) {
  pointer-events: none;
}
.sound-config.invalid button:not(.remove):focus,
.sound-config.invalid button:not(.remove):hover {
  background-color: var(--accent2);
  outline: none !important;
}
.sound-config.invalid .sound {
  color: var(--invalid-text);
}

@media screen and (max-width: 640px) {
  button {
    padding: 8px 10px;
  }

  button:not(.remove) > svg {
    display: none;
  }

  .sound-config {
    grid-template-columns: min-content min-content 1fr min-content 1fr min-content min-content;
    grid-template-areas:
      "play sound sound sound sound copy copy"
      "pitch-label pitch-label pitch volume-label volume volume remove";
  }
  .sound-config .play { grid-area: play; }
  .sound-config .sound { grid-area: sound; }
  .sound-config .offset-label { display: none; }
  .sound-config .offset { display: none; }
  .sound-config .pitch-label { grid-area: pitch-label; }
  .sound-config .pitch { grid-area: pitch; }
  .sound-config .volume-label { grid-area: volume-label; }
  .sound-config .volume { grid-area: volume; }
  .sound-config .copy { grid-area: copy; }
  .sound-config .remove { grid-area: remove; }
}
